ion-side-menu ion-content {
  background: $dark;
  .list .item {
    background: inherit;
    color: $light;
  }
}

#loginPageSpacer {
  height: 40px
}

ion-content {
  background: url("../img/scribble_light.png") repeat;
}
