$mute: #4a4a4a;

ion-side-menu ion-content {
  background: $dark;
  .list .item {
    background: inherit;
    color: $light;
  }
}

#loginPageSpacer {
  height: 40px
}

ion-content {
  background: url("../img/scribble_light.png") repeat;
}

.pull-right {
  float: right;
}

.item-divider a.badge {
  text-decoration: none;
  right: 16px;
}

.muted {
  color: $mute;
}

.bg-muted {
  background-color: $mute;
}

.text-small {
  font-size: 0.8em;
}
.text-large {
  font-size: 1.5em;
}
.order-item {
  .qty {
    background-color: lighten($mute, 20%);
    color: $light;
    padding: 1px 3px;
    border-radius: 3px;
    font-size: 0.8em;
    margin-right: 0.5em;
  }
  .qty:before {
    content: "\00d7"
  }
  .price {
    position: absolute;
    right: 64px;
    color: $mute;
  }
  .price:before {
    content: "\20B9 "
  }
}

